<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fitness Profile - Page 3</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="form-container">
        <form action="/submit" method="post">
            <!-- This will ask how many meals they eat in a day -->
            <label for="meals_per_day_input">How many times do you eat in a day?</label>
            <input type="number" id="meals_per_day_input" name="meals_per_day" min="1" max="5" required>

            <!-- This will ask if they prefer home cooked meal or read-to-eat ones -->
            <label for="meal_preference">Do you prefer processed/ready-to-eat meals or home-cooked meals?</label>
            <select id="meal_preference" name="meal_preference" required>
                <option value="">-- Please choose an option --</option>
                <option value="Processed"> Prefer Processed / Ready-to-eat meals more</option>
                <option value="Home_cooked">Prefer Home-cooked meals more</option>
                <option value="Both">Both equally</option>
            </select>

            <!-- This will ask how much they spend on grocery shopping each week -->
            <label for="grocery_budget_input">Average weekly grocery shopping budget? ($)</label>
            <input type="number" id="grocery_budget_input" name="grocery_budget" min="0" step="5" required>

            <label for="nutritional_awareness">Are you aware of your daily nutritional needs?</label>
            <select id="nutritional_awareness" name="nutritional_awareness" required>
                <option value="">-- Please choose an option --</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Somewhat">Somewhat</option>
            </select>

            <!-- This will ask if they are looking for any specific nutrient goal in the meal plan -->
            <label>Do you have any specific nutritional needs? (Select all that apply)</label>
            <div class="toggle-checkbox-group">
                <input type="checkbox" id="high_protein" name="specific_nutrition[]" value="High_protein">
                <label for="high_protein">High Protein</label>

                <input type="checkbox" id="high_fiber" name="specific_nutrition[]" value="High_fiber">
                <label for="high_fiber">High Fiber</label>

                <input type="checkbox" id="low_carb" name="specific_nutrition[]" value="Low_carb">
                <label for="low_carb">Low Carb</label>

                <input type="checkbox" id="low_fat" name="specific_nutrition[]" value="Low_fat">
                <label for="low_fat">Low Fat</label>

                <input type="checkbox" id="low_sodium" name="specific_nutrition[]" value="Low_sodium">
                <label for="low_sodium">Low Sodium</label>

                <input type="checkbox" id="balanced_diet" name="specific_nutrition[]" value="Balanced_diet">
                <label for="balanced_diet">Balanced Diet</label>

                <input type="checkbox" id="nutrition_other" name="specific_nutrition[]" value="Other">
                <label for="nutrition_other">Other</label>
            </div>

            <!-- This will ask how many weeks would they like us to make the meal plan for. Minimum 2 weeks and maximum 4 weeks ! -->
            <label for="planDuration">How many weeks would you like the plan for? (2–4 weeks)</label>
            <select id="planDuration" name="plan_duration" required>
                <option value=""" disabled selected>Selected your option</option>"
                <option value="2">2 Weeks</option>
                <option value="3">3 Weeks</option>
                <option value="4">4 Weeks</option>
            </select>

            <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                
                <!-- This will submit the options selected and the next thing you see is the meal plan. Maybe after a few seconds of processing. -->
                <a href="form2.html"><button type="button">Previous Page</button></a>
                <button class="final_submit" type="submit">Submit Responses</button>
            </div>
        </form>
    </div>
    <script src="static/js/script.js"></script>
</body>

</html>