<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness Profile - Page 1</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="form-container">
        <form action="form2.html" method="get">

            <!-- This will ask for age range -->
            <label for="ageRange">Your Age Range ?</label>
            <select id="ageRange" name="ageRange" required>
                <option value="">-- Please choose an option --</option>
                <option value="12-18">12-18</option>
                <option value="19-25">19-25</option>
                <option value="26-32">26-32</option>
                <option value="33-64">33-64</option>
                <option value="65+">65+</option>
            </select>

            <!-- This will ask for gender -->
            <label for="gender">Your Gender ?</label>
            <select id="gender" name="gender" required>
                <option value="">-- Please choose an option --</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>

            <!-- This will ask for current weight and height using sliders. I used javascript to update value in real time here-->
            <label for="weightSlider">What is your current weight ? (<span id="weightValue">90</span> kg)</label>
            <input type="range" id="weightSlider" name="weight" min="40" max="140" value="90" step="5" oninput="updateWeightValue()">
                        
            <label for="heightSlider">What is your height? (<span id="heightValue">170</span> cm)</label>
            <input type="range" id="heightSlider" name="height" min="140" max="220" value="170" step="5" oninput="updateHeightValue()">

            <p> Your BMI :<strong id="bmiValue">---</strong></p>
            
            <label for="fitnessTarget">What's your fitness target ?</label>
            <select id="fitnessTarget" name="fitnessTarget">
                <option value="Lose weight">Lose Weight</option>
                <option value="Gain muscle">Gain Muscle</option>
                <option value="Improve stamina">Improve Stamina</option>
                <option value="General fitness">General Fitness</option>
                <option value="Bulking">Bulking</option>
            </select>

            <!-- Pressing submit will take you to next page -->
            <button type="submit">Next Page</button>
        </div>
      </form>
    </div>
    <script src="static/js/script.js"></script>
  </body>

  </html>